<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds - YelpCamp</title>
  </head>
  <body>
    <h1>Campgrounds</h1>
    <ul>
      <% for (const camp of campgrounds) { %>
        <li>
          <p><%= camp.title %></p>
          <p><%= camp.location %></p>
          <p>$<%= camp.price %></p>
          <p><%= camp.description %></p>
        </li>
      <% } %>
    </ul>
  </body>
</html>