<% layout('layouts/boilerplate') -%>
<h1>Campgrounds</h1>
<p>
  <a href="/campgrounds/new">Add new campground</a>
</p>
<ul>
  <% for (const camp of camps) { %>
    <li>
      <p>
        <a href="/campgrounds/<%= camp._id %>"><%= camp.title %></a>
      </p>
    </li>
  <% } %>
</ul>